body {
  background-color: #E1FFEE;
  /**/https://colorhunt.co/palette/7fbcd2a5f1e9e1ffeeffeeaf/**/
}

hr {
  border: none;
  background-color: #7FBCD2;
  height: 1px;
  width: 95%;
}

h1 {
  color: #7FBCD2;
}

h3 {
  color: #7FBCD2;
}

img {
  border-radius: 8px;
}
